
.downCircle{
    position: absolute;
    place-content: center;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid var(--primary);
    border-style: dashed;
    border-radius: 50px;
    background-color: transparent;
    top: -10px;
    right: -2px;
    z-index: 30;
}

.downArrow{
    position: relative;
    align-self: center;
    width: 2.5rem;
    height: 1.5rem;
}

.downCircle:hover{
    transition-duration: 0.3s;
    scale: 1.2;
    transform: rotate(-30deg);
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hideGoToBottom{
    opacity: 0;
}
