.bars{

    align-self: center;

}

.bars.one-col{
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
} 

.bars.two-col {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
}

.bars.three-col {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;

}

@media only screen and (min-width: 430px) {
    .bars{
        padding: 0rem 1rem;
    }
    .bars.one-col{
        grid-column: span 1 / span 1;

    } 
    .bars.two-col {
        grid-column: span 2 / span 2;
    }
    .bars.three-col {
        grid-column: span 2 / span 2;
    
    }
}

@media only screen and (min-width: 769px)  {

    .bars.one-col{
        grid-column: span 1 / span 1;
    } 
    
    .bars.two-col {
        grid-column: span 3 / span 3;
    }
    .bars.three-col {
        grid-column: span 3 / span 3;
    }

    .bars{
        padding: 0rem 2rem;
    }


}

@media only screen and (min-width: 1025px)  {
    .bars.one-col{
        grid-column: span 1 / span 1;
    } 
    .bars.two-col {
        grid-column: span 2 / span 2;
    }
    .bars.three-col {
        grid-column: span 3 / span 3;
    }


}