@font-face {
    font-family: "NunitoSans";
    src: local("NunitoSans"),
    url("./Fonts/NunitoSans-Bold.ttf") format("truetype");
    font-weight: bold;

    font-family: "NunitoSans";
    src: local("NunitoSans"),
    url("./Fonts/NunitoSans-Regular.ttf") format("truetype");
    font-weight: normal;

    font-family: "NunitoSans";
    src: local("NunitoSans"),
    url("./Fonts/NunitoSans-Black.ttf") format("truetype");
    font-weight: black;

    font-family: "NunitoSans";
    src: local("NunitoSans"),
    url("./Fonts/NunitoSans-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
}